
.middle{
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FAF9F6;
}
.building_description{
    height: min-content;
    width: 11vw;
    background-color: white;
    border-radius: 3%;
    border: 2px solid darkgray;
    margin-top: 2vh;
    margin-left: 1.5vw;
    padding-bottom: 2%;
}